    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{title}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">How</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Playlists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">{{title}}</h1>
          <hr>
          <p>All those Beverage choices bringing you down? Feeling lucky? Let fate quench your thirst with the Beverage Randomizer. Like you know, for randomizing your beverages.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Let's get started!</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Choose list</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">How does it work?</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">{{title}}</h2>
            <hr class="light">
          </div>
        </div>
        <div id="random-output" class="row"></div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <a id="randomize-button" class="btn btn-primary btn-xl" href="#about">Randomize!</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Choose list</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <ul class="list-group">
              {{#each defaultList}}
                <li class="list-group-item ">
                  <p>{{this}}</p>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Let's get random! But how?</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-hand-pointer-o text-primary sr-icons"></i>
              <h3>Choose your list</h3>
              <p class="text-muted">Randomize a pre-set list of beverages.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-lightbulb-o text-primary sr-icons"></i>
              <h3>Or create your own</h3>
              <p class="text-muted">Coming in future updates</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-random text-primary sr-icons"></i>
              <h3>Randomize!</h3>
              <p class="text-muted">Roll the dice on your next drink.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Enjoy!</h3>
              <p class="text-muted">Let fate quench your thirst.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/Office madness - small.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/Office madness - small.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Playlist
                  </div>
                  <div class="project-name">
                    {{ frontPageList.[0] }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/Mancave mayhem - small.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/Mancave mayhem - small.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Playlist
                  </div>
                  <div class="project-name">
                    {{ frontPageList.[1] }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/Highland Games - small.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/Highland Games - small.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Playlist
                  </div>
                  <div class="project-name">
                    {{ frontPageList.[2] }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/Girls night out - small.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/Girls night out - small.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Playlist
                  </div>
                  <div class="project-name">
                    {{ frontPageList.[3] }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/Thank god it's friday - small.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/Thank god it's friday - small.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Playlist
                  </div>
                  <div class="project-name">
                    {{ frontPageList.[4] }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/The most wonderful time - small.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/The most wonderful time - small.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Playlist
                  </div>
                  <div class="project-name">
                    {{ frontPageList.[5] }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    {{!-- <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>Free Download at Start Bootstrap!</h2>
        <a class="btn btn-default btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </div> --}}

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Do you have an awesome idea to improve the randomization of beverages? That's great! Give us a call or send us an email!</p>
          </div>
        </div>
        <div class="row">
          {{!-- <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>123-456-6789</p>
          </div>--}}
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>
              <a href="mailto:admin@beveragerandomizer.com">admin@beveragerandomizer.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/beverageRandomizer.min.js"></script>